@font-face{font-family: 'cpufont'; src: url('fonts/cpufixed.ttf'); }
@font-face {
    font-family: 'lcdfont';
    src: url('fonts/lcd.eot');
    src: url('fonts/lcdd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/lcd.woff') format('woff'),
         url('fonts/lcd.ttf') format('truetype'),
         url('fonts/lcd.svg#lcdmono2light') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper { background-color:black; -ms-transform-origin:0 0; -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -o-transform-origin:0 0; transform-origin:0 0; }
#blackness { position: absolute; z-index:11; left:0; top:0; width:100%; height:100%; opacity:1 }
#clearness { position: absolute; z-index:0; left:0; top:0; width:100%; height:100%; opacity:1 }
#loadingbar  { font-family: 'cpufont', monospace; position:absolute; font-size:40px; z-index:12; left:250px; top:250px; height:30px; line-height:30px; text-align: center; color:#00ff00;}
#tvbackground { position:absolute; z-index:1; left:13px; top:22px; border: 0 solid black; visibility:hidden}
#hand { position:absolute; z-index:1; left:706px; top:430px; visibility:hidden}
#tvdial { position:absolute; z-index:4; left:660px; top:106px; cursor: pointer; visibility: hidden}
#tvdial2 { position:absolute; z-index:4; left:658px; top:190px; cursor: pointer; visibility: hidden}
#tvtopknob { position:absolute; z-index:4; left:614px; top:72px; cursor: pointer; opacity:0; }
#tvled { position:absolute; z-index:4; left:696px; top:383px; cursor: pointer; visibility:hidden }
#tvled2 { position:absolute; z-index:4; left:661px; top:383px; cursor: pointer; visibility:hidden }
#tvled3 { position:absolute; z-index:4; left:626px; top:383px; cursor: pointer; visibility:hidden }
#tvknob { position:absolute; z-index:4; left:694px; top:410px; cursor: pointer; opacity:0 }
#tvknob2 { position:absolute; z-index:4; left:659px; top:410px; cursor: pointer; opacity:0 }
#tvknob3 { position:absolute; z-index:4; left:624px; top:410px; cursor: pointer; opacity:0 }
#tvbuttons { position:absolute; z-index:1; left:794px; top:346px; visibility: hidden; line-height:20px; /*padding:25px 0;*/ margin-bottom:0;}
#tvfilters { position:absolute; z-index:1; left:794px; top:20px; visibility: hidden} 
#yearfilters  { font-family: 'cpufont', monospace; position:absolute; z-index:1; left:156px; top:570px; height:30px; line-height:30px; text-align: center; visibility:hidden}
span.year  { position:absolute; vertical-align:middle; text-align:center; cursor:default }
#guide  { position: absolute; z-index:10; left:744px; top:564px; visibility:hidden }
#tvstencil { position:absolute; z-index:3; left:0px; top:22px; visibility:hidden }
#myytplayer { position:absolute; z-index:0; width:640px; height:360px; left:-4px; top:72px; }
#tvstatic { opacity:0; }
#logo { position:absolute; z-index:4; left:616px; top:274px; visibility: hidden;}
#icontwitter { position:absolute; z-index:1; left:800px; top:522px; cursor:pointer; visibility: hidden }
#iconfb { position:absolute; z-index:1; left:839px; top:522px; cursor:pointer; visibility: hidden }
#iconsuggest { position:absolute; z-index:1; left:880px; top:524px; cursor:pointer; visibility: hidden }
#imgrow { position:absolute; left:0; top:20px; width: 600px; height: auto; overflow: hidden; }
#imgrow img { display: inline; margin: 0 10px; height:90px;}
#prevbtn { position:absolute; left:562px; top:80px; cursor:pointer; z-index:50;}
#prevbtn img { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
#nextbtn { position:absolute; left:600px; top:80px; cursor:pointer; z-index:50; }
#chanheader { position:absolute; font-size: normal; font-weight: bold; color: green; left:0; top:0; width:640px; text-align: center; white-space: nowrap; }
#tagline { position:absolute; font-size: small; color: white; left:30px; top:114px; width:610px; text-align: center; }
#refreshbtn { position:absolute; left:560px; top:40px; }
#debug  { font-family: monospace; position:absolute; font-size: small; z-index:50; color:white; left:900px; top:20px; height:10px; width:200px; line-height:10px; text-align: left; /*visibility:hidden*/}
#helpback { position: absolute; z-index:4; left:120px; top:90px; visibility: hidden; }
#help  { font-family: 'cpufont', monospace; position:absolute; z-index:4; color:#00ff00; left:150px; top:100px; height:360px; width:480; line-height:20px; text-align: left;}
#status  { font-family: 'cpufont', monospace; position:absolute; z-index:4; color:#00ff00; left:67px; top:428px; height:30px; width:496px; line-height:30px; text-align: center;}
#remotestatus  { font-family: 'cpufont', monospace; position:absolute; z-index:4; color:#00bb00; left:794px; top:562px; height:30px; width:130px; line-height:30px; text-align: center;}
#amazon {position:absolute; z-index:6; left:1291px; top:297px; font-size: small; color: white; width:180px;text-align: left; visibility: hidden}
#welcome { position:absolute; z-index:4; left:22px; font-size: 13px; color: white; top:600px; width:754px; text-align: center; visibility:hidden}
#credit { position:absolute; z-index:4; left:22px; font-size: small; color: #323232; top:640px; width:754px; text-align: center; visibility:hidden}

#credit a:link { text-decoration: none; color: #bbbbbb; } 
#credit a:visited { text-decoration: none; color: #bbbbbb; } 
#credit a:hover { text-decoration: none; color: #bbbbbb; } 
#credit a:active { text-decoration: none; color: #bbbbbb; } 

#lcdbar { font-family: 'lcdfont'; line-height:20px; font-size: normal; text-shadow: 0 0 10px green; font-weight:bold; position: absolute; z-index:4; color: green; left:22px; top:600px; width:754px; text-align: center; white-space: nowrap; overflow: hidden; visibility:hidden; }
#channellabel { position:absolute; width:200px; }
h2 { position: absolute; color:#00ff00; z-index:10; left: 270px; top: 64px; width: 250px; opacity:0.7; text-shadow: 0 0 10px green; font-family: "Arial", Courier, monospace; font-size: large; user-select: none; -webkit-user-select: none; -moz-user-select: none; text-align:right justify; direction:rtl; }

html { background-color: black; }
body { background-color: black; overflow: hidden; }

button.tvremote {
	font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; width: 100px; padding: 4px 20px; background-color: #707070; 
	outline: none; /* remove chrome's orange border on active button */
	-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; border: 1px solid #000000; 
	-moz-box-shadow: 0 1px 3px rgba(000,000,000,0.5), 
	inset 0 0 1px rgba(255,255,255,0.7); 
	-webkit-box-shadow: 0 1px 3px rgba(000,000,000,0.5), 
	inset 0 0 1px rgba(255,255,255,0.7); box-shadow: 0 1px 3px rgba(000,000,000,0.5), 
	inset 0 0 1px rgba(255,255,255,0.7); text-shadow: 0 -1px 0 rgba(000,000,000,0.4), 0 1px 0 rgba(255,255,255,0.3);
	position:inherit;
	cursor:pointer;
    overflow: visible;
    padding: 0 0;
}

input[type=checkbox].css-checkbox { font-family: Arial, sans-serif; position: absolute; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0; color:grey; font-size: small; }

input[type=checkbox].css-checkbox + label.css-label { font-family: Arial, sans-serif; padding-left:20px; height:15px; display:inline-block; line-height:15px; background-repeat:no-repeat; background-position: 0 0; font-size:15px; vertical-align:middle; cursor:pointer; color:grey; font-size: small; }

input[type=checkbox].css-checkbox:checked + label.css-label { font-family: Arial, sans-serif; background-position: 0 -15px; color:green; font-size: small; }

.css-label{ background-image:url(img/dark-check-cyan.png); }

a { color: cyan; }

#tubeglow { position:absolute; left:78px; top:71px; width: 474px; height: 362px; 
            border-radius: 37% / 5%;
	    -moz-border-radius: 37% / 5%; 
	    -webkit-border-radius: 37% / 5%; 
	    -ms-border-radius: 37% / 5%; 	    
            z-index:50; text-align: center; text-indent: .1em; }

.tvremotebackground {
	border-style: solid;
	border-width: 3px;
	border-color: rgb( 200, 200, 200 );
	border-radius: 10px;
	background-image: -moz-linear-gradient( 90deg, rgb(125,125,125) 0%, rgb(206,206,206) 49%, rgb(175,175,175) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(125,125,125) 0%, rgb(206,206,206) 49%, rgb(175,175,175) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(125,125,125) 0%, rgb(206,206,206) 49%, rgb(175,175,175) 100%);
	position: absolute;
	box-shadow: 10px 10px 5px rgba(0,0,0,.5);
	width: 120px;
	height: 210px;
}

ul { list-style-type: none; padding: 0; padding-left: 6px; margin: 0; }
ul li { padding: 3px; }

/*feature*/

.tvchanbtn { width: 40px; height: 18px; position: relative; left: 10px; z-index: 1; background-color: black; -webkit-border-radius: 50% / 10%; border-radius: 50% / 10%; padding: 3px; vertical-align: middle; float: left; }
.tvchanbtn:before { content: ''; position: absolute; top: 10%; z-index: 1; bottom: 10%; right: -5%; left: -5%; background: inherit; -webkit-border-radius: 5% / 50%; border-radius: 5% / 50%; }
.tvchanbtn a:link { text-decoration: none; color: white; } 
.tvchanbtn a:visited { text-decoration: none; color: white; } 
.tvchanbtn a:hover { text-decoration: none; color: #00dd00; } 
.tvchanbtn a:active { text-decoration: none; color: white; } 
.tvchanlabel { position: relative; z-index: 3; text-align: center; vertical-align: middle; font-family: "Lucida Console", Monaco, monospace; font-size: 14px; font-weight: bold; }
.tvchandesc { float: left; margin-top: 4px; margin-left: 18px; font-size: 14px; }

@font-face {
    font-family: 'bb';
    src: url('fonts/bb.eot');
    src: local('☺'), url('fonts/bb.woff') format('woff'), url('fonts/bb.ttf') format('truetype'), url('fonts/bb.svg') format('svg');
    font-weight: normal;
}

#featurebox { position: absolute; left: 936px; top: 22px; background-color: blue; padding: 5px; width: 220px; visibility: hidden }
#myothertv { position:absolute; z-index:4; left:1064px; top:234px; cursor:pointer; visibility: hidden;}
#myothertv2 { position:absolute; z-index:4; left:936px; top:230px; cursor:pointer; visibility: hidden;}
#coffee { position:absolute; z-index:4; left:936px; top:400px; cursor:pointer; visibility: hidden;}

#sg { position: absolute; left: 960px; top: 536px; width: 100%; height: 100%; visibility: hidden }
